*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{
    padding:25px;
    background-color: #FFF;
}

header{
    background:#1D9BCB;
    border-radius:17px;
    padding:20px 35px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

header h1{
    color: #EAFBFF;
}

button{
    background:#F4C542;
    padding:15px 30px;
    border-radius: 17px;
    font-size:17px;
    border:none;
    font-weight: bold;
}

button:hover{
    background:#b38507;
}

main{
    display:grid;
    grid-template-columns:2.2fr 1fr;
    gap:25px;
}

.mapa{
    background:#2FA8D8;
    border-radius:15px;
    padding:20px;
}

.mapa img{

    width:100%;

    height:100%;

    object-fit:cover;

}

.contenedor-mapa{
    width:100%;
    height:700px;
    border:3px dashed #0E9FB3;
    border-radius:12px;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#68b0ab;
}

.experiencias{
    background:#2FA8D8;
    border-radius:15px;
    padding:20px;
    display:flex;
    flex-direction:column;
}

.experiencias h2{
    text-align:center;
    margin-bottom:20px;
}

.comments{
    overflow-y:auto;
    height:650px;
    padding-right:8px;
}

.comments::-webkit-scrollbar{
    width:10px;
}

.comments::-webkit-scrollbar-thumb{
    background:#005560;
    border-radius:20px;
}

.comments::-webkit-scrollbar-track{
    background:#fafafa;
}

.comentario{
    border:1px solid #87D4F3;
    border-radius:17px;
    padding:18px;
    margin-bottom:18px;
    background:#EAF7FC;
}

.comentario h3{
    margin-bottom:10px;
}

.comentario p{
    color:#555;
    line-height:1.5;
}

@media(max-width:900px){
    main{
    grid-template-columns:1fr;
    }

    .experiencias{
    height:350px;
    }
    
    .contenedor-mapa{
    height:400px;
    }
    }
